[Desktop Entry]
Name=fluid
Comment=FLTK GUI Designer
TryExec=fluid
Exec=fluid
Icon=fluid
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development
