#
# Files to be ignored by Git (do not commit)
#
# Note: *.exe will be ignored by means of ../.gitignore
#

# Windows/MSVC files and maybe others

*.bck
fltk*.dll
fltk*.exp
fltk*.lib
*.ilk

# Linux/Unix/macOS executables

adjuster
animated
arc
ask
bitmap
blocks
boxtype
browser
button
buttons
cairo_test
checkers
clipboard
clock
colbrowser
color_chooser
contrast
coordinates
cube
CubeView
cursor
curve
demo
device
doublebuffer
editor
fast_slow
file_chooser
flex_demo
flex_login
fltk-versions
fonts
forms
fractals
fullscreen
gl_overlay
glpuzzle
glut_test
grid_alignment
grid_buttons
grid_dialog
grid_login
handle_events
hello
help_dialog
icon
iconize
image
inactive
input
input_choice
keyboard
label
line_style
line_style_docs
list_visuals
mandelbrot
menubar
message
minimum
native-filechooser
navigation
offscreen
output
overlay
pack
pixmap
pixmap_browser
preferences
radio
resize
resizebox
resize-example1
resize-example2
resize-example3a
resize-example3b
resize-example3c
resize-example3d
resize-example4a
resize-example4b
resize-example5a
resize-example5b
resize-example5c
rotated_text
scroll
shape
subwindow
sudoku
symbols
table
tabs
terminal
threads
tile
tiled_image
tree
twowin
unittests
utf8
valuators
windowfocus
wizard

# macOS binary files

*.app

# fluid generated source files and headers, generated using bash:
# > for f in *.fl;do b=`basename $f .fl`;echo $b.cxx;echo $b.h;done

CubeViewUI.cxx
CubeViewUI.h
checkers_pieces.cxx
checkers_pieces.h
fast_slow.cxx
fast_slow.h
inactive.cxx
inactive.h
keyboard_ui.cxx
keyboard_ui.h
mandelbrot_ui.cxx
mandelbrot_ui.h
preferences.cxx
preferences.h
radio.cxx
radio.h
resize.cxx
resize.h
tabs.cxx
tabs.h
terminal.cxx
terminal.h
tree.cxx
tree.h
valuators.cxx
valuators.h
