#
# Files to be ignored by Git (do not commit)
#
# Note: *.exe will be ignored by means of ../.gitignore
#

# Windows/MSVC files and maybe others

*.bck
fltk*.dll
fltk*.exp
fltk*.lib
*.ilk

# Linux/Unix/macOS executables,
# fluid generated source files and headers etc.

adjuster
animated
arc
ask
bitmap
blocks
boxtype
browser
button
buttons
cairo_test
checkers
checkers_pieces.cxx
checkers_pieces.h
clock
colbrowser
color_chooser
cube
CubeView
CubeViewUI.cxx
CubeViewUI.h
cursor
curve
demo
device
doublebuffer
editor
fast_slow
fast_slow.cxx
fast_slow.h
file_chooser
fonts
forms
fractals
fullscreen
gl_overlay
glpuzzle
hello
help_dialog
icon
iconize
image
inactive
inactive.cxx
inactive.h
input
input_choice
keyboard
keyboard_ui.cxx
keyboard_ui.h
label
line_style
list_visuals
mandelbrot
mandelbrot_ui.cxx
mandelbrot_ui.h
menubar
message
minimum
native-filechooser
navigation
offscreen
output
overlay
pack
pixmap
pixmap_browser
preferences
preferences.cxx
preferences.h
print
radio
radio.cxx
radio.h
resize
resizebox
resize.cxx
resize.h
rotated_text
scroll
shape
shiny
shiny_panel.cxx
shiny_panel.h
subwindow
sudoku
symbols
table
tabs
tabs.cxx
tabs.h
threads
tile
tiled_image
tree
tree.cxx
tree.h
twowin
unittests
utf8
valuators
valuators.cxx
valuators.h
windowfocus

# macOS binary files

# (a) bundles *partially* in Git: ignore executables only

blocks.app/Contents/MacOS/blocks
checkers.app/Contents/MacOS/checkers
sudoku.app/Contents/MacOS/sudoku

# (b) other bundles created by in-source builds

adjuster.app
animated.app
arc.app
ask.app
bitmap.app
boxtype.app
browser.app
button.app
buttons.app
cairo_test.app
clock.app
colbrowser.app
color_chooser.app
cube.app
CubeView.app
cursor.app
curve.app
demo.app
device.app
doublebuffer.app
editor.app
fast_slow.app
file_chooser.app
fonts.app
forms.app
fractals.app
fullscreen.app
gl_overlay.app
glpuzzle.app
hello.app
help_dialog.app
icon.app
iconize.app
image.app
inactive.app
input.app
input_choice.app
keyboard.app
label.app
line_style.app
list_visuals.app
mandelbrot.app
menubar.app
message.app
minimum.app
native-filechooser.app
navigation.app
offscreen.app
output.app
overlay.app
pack.app
pixmap.app
pixmap_browser.app
preferences.app
radio.app
resize.app
resizebox.app
rotated_text.app
scroll.app
shape.app
subwindow.app
symbols.app
table.app
tabs.app
tabs.app/Contents
threads.app
tile.app
tiled_image.app
tree.app
twowin.app
unittests.app
utf8.app
valuators.app
windowfocus.app
