[Desktop Entry]
Name=Sudoku
Comment=Suduku Number Game
TryExec=sudoku
Exec=sudoku
Icon=sudoku
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game
