#
# Files to be ignored by Git (do not commit)
#

# Ignore everywhere, also in subdirectories

*.bak
*.bck
*.exe
*.log
*.o
**/.DS_Store
TAGS

# CMake build artifacts if built in source - forbidden since FLTK 1.5.0.
# However, the following artifacts would be created by an attempt to
# execute `cmake` in-source:

**/CMakeCache.txt
**/CMakeFiles/

# VS Code (Visual Studio Code) Editor is a frequently used editor whose
# configuration is stored in '.vscode' folders

.vscode/

# default build folder `build` and some more special files ...

/build

# /FL - this should not happen, but anyway ...

/FL/fl_config.h

# executables manually built in /misc/
# todo: maybe move the source files to folder /util/ ?

/misc/doxystar
/misc/fromdos
