#
# Files to be ignored by Git (do not commit)
#

*.o
*.exe

# MSVC
*.tlog
.vs/

# VS Code (Visual Studio Code) Editor
.vscode/

# /
/autom4te*.cache
/build
/clang
/config.cache
/config.guess
/config.h
/config.log
/config.status
/config.sub
/configure
/fltk-config
/fltk.list
/fltk.spec
/makeinclude
/*.bck
/TAGS

# /FL
/FL/abi-version.h
/FL/Makefile
/FL/*.bck

# /cairo/
/cairo/*.so*
/cairo/*.dll

# /documentation/
/documentation/.xvpics
/documentation/blocks.0
/documentation/blocks.6
/documentation/blocks.z
/documentation/checkers.0
/documentation/checkers.6
/documentation/checkers.z
/documentation/Doxybook
/documentation/Doxyfile
/documentation/fltk.0
/documentation/fltk.3
/documentation/src/fltk-book.tex.in
/documentation/fltk-config.0
/documentation/fltk-config.1
/documentation/fltk-config.z
/documentation/fltk.d
/documentation/fltk.pdf
/documentation/fltk.z
/documentation/fluid.0
/documentation/fluid.1
/documentation/fluid.z
/documentation/html
/documentation/latex
/documentation/sudoku.0
/documentation/sudoku.6
/documentation/sudoku.z
/documentation/*.bck
/documentation/*.bak
/documentation/*.log

# /documentation/src/
/documentation/src/*.0
/documentation/src/*.1
/documentation/src/*.3
/documentation/src/*.6
/documentation/src/*.z
/documentation/src/fltk-book.tex

# /examples/
/examples/*.exe
/examples/clipboard
/examples/howto-add_fd-and-popen
/examples/howto-browser-with-icons
/examples/howto-drag-and-drop
/examples/howto-parse-args
/examples/howto-text-over-image-button
/examples/menubar-add
/examples/nativefilechooser-simple-app
/examples/OpenGL3-glut-test
/examples/OpenGL3test
/examples/progress-simple
/examples/shapedwindow
/examples/table-as-container
/examples/table-simple
/examples/table-sort
/examples/table-spreadsheet
/examples/table-spreadsheet-with-keyboard-nav
/examples/table-with-keynav
/examples/tabs-simple
/examples/textdisplay-with-colors
/examples/texteditor-simple
/examples/tree-as-container
/examples/tree-custom-draw-items
/examples/tree-custom-sort
/examples/tree-of-tables
/examples/tree-simple
/examples/wizard-simple

# /fluid/
/fluid/fluid
/fluid/fluid-shared
/fluid/*.bck
/fluid/*.exe
/fluid/*.ilk
/fluid/*.pdb
/fluid/TAGS

# /fluid/fluid.app/Contents/MacOS/
/fluid/fluid.app/Contents/MacOS/fluid

# /fluid/pixmaps/
/fluid/pixmaps/*.bck

# /ide/VisualC2008/
/ide/VisualC2008/fltk.ncb
/ide/VisualC2008/*.pdb
/ide/VisualC2008/*.user
/ide/VisualC2008/*_/
/ide/VisualC2008/*__0/
/ide/VisualC2008/fltkdll/
/ide/VisualC2008/fltkdlld/
/ide/VisualC2008/Debug/
/ide/VisualC2008/Debug Cairo/
/ide/VisualC2008/Release/
/ide/VisualC2008/Release Cairo/

# /ide/VisualC2010/
/ide/VisualC2010/*.user
/ide/VisualC2010/*_debug/
/ide/VisualC2010/*_release/
/ide/VisualC2010/fltk.*sdf
/ide/VisualC2010/fltk.suo
/ide/VisualC2010/fltkdlld.pdb
/ide/VisualC2010/fltkdll/
/ide/VisualC2010/fltkdlld/
/ide/VisualC2010/Debug/
/ide/VisualC2010/Debug Cairo/
/ide/VisualC2010/Release/
/ide/VisualC2010/Release Cairo/

# /ide/Xcode3/
/ide/Xcode3/build

# /ide/Xcode3/FLTK.xcodeproj/
/ide/Xcode3/FLTK.xcodeproj/*.pbxuser
/ide/Xcode3/FLTK.xcodeproj/*.perspectivev3

# /ide/Xcode4/
/ide/Xcode4/build

# /ide/Xcode4/FLTK.xcodeproj/
/ide/Xcode4/FLTK.xcodeproj/*.pbxuser
/ide/Xcode4/FLTK.xcodeproj/*.perspectivev3

# /lib/
/lib/lib*
/lib/*.lib
/lib/*.a
/lib/*.bsc

# /misc/
/misc/doxystar

# /src/
/src/*.so*
/src/*.sl*
/src/*.a
/src/*.bck
/src/*.dll
/src/*.sav
/src/*.dylib

# /test/
/test/*.pdb
/test/CubeView
/test/CubeViewUI.cxx
/test/CubeViewUI.h
/test/adjuster
/test/animated
/test/arc
/test/ask
/test/bitmap
/test/blocks
/test/boxtype
/test/browser
/test/button
/test/buttons
/test/cairo_test
/test/checkers
/test/clock
/test/colbrowser
/test/color_chooser
/test/cube
/test/cursor
/test/curve
/test/demo
/test/device
/test/doublebuffer
/test/editor
/test/fast_slow
/test/fast_slow.cxx
/test/fast_slow.h
/test/file_chooser
/test/fltk-versions
/test/fonts
/test/forms
/test/fractals
/test/fullscreen
/test/gl_overlay
/test/glpuzzle
/test/hello
/test/help
/test/icon
/test/iconize
/test/image
/test/inactive
/test/inactive.cxx
/test/inactive.h
/test/input
/test/input_choice
/test/keyboard
/test/keyboard_ui.cxx
/test/keyboard_ui.h
/test/label
/test/line_style
/test/list_visuals
/test/mandelbrot
/test/mandelbrot_ui.cxx
/test/mandelbrot_ui.h
/test/menubar
/test/message
/test/minimum
/test/native-filechooser
/test/navigation
/test/offscreen
/test/output
/test/overlay
/test/pack
/test/pixmap
/test/pixmap_browser
/test/preferences
/test/preferences.cxx
/test/preferences.h
/test/print
/test/radio
/test/radio.cxx
/test/radio.h
/test/resize
/test/resize.cxx
/test/resize.h
/test/resizebox
/test/rotated_text
/test/scroll
/test/shape
/test/shiny
/test/shiny_panel.cxx
/test/shiny_panel.h
/test/subwindow
/test/sudoku
/test/symbols
/test/table
/test/tabs
/test/tabs.cxx
/test/tabs.h
/test/threads
/test/tile
/test/tiled_image
/test/tree
/test/tree.cxx
/test/tree.h
/test/twowin
/test/unittests
/test/utf8
/test/valuators
/test/valuators.cxx
/test/valuators.h
/test/windowfocus
/test/*.bck
/test/*.exe
/test/*.ilk
/test/fltk*.lib
/test/fltk*.exp
/test/fltk*.dll

# /test/blocks.app/Contents/MacOS/
/test/blocks.app/Contents/MacOS/blocks

# /test/checkers.app/Contents/MacOS/
/test/checkers.app/Contents/MacOS/checkers

# /test/sudoku.app/Contents/MacOS/
/test/sudoku.app/Contents/MacOS/sudoku

# /test/ - generated apps (macOS)
/test/CubeView.app/
/test/adjuster.app/
/test/animated.app/
/test/arc.app/
/test/ask.app/
/test/bitmap.app/
/test/boxtype.app/
/test/browser.app/
/test/button.app/
/test/buttons.app/
/test/cairo_test.app/
/test/clock.app/
/test/colbrowser.app/
/test/color_chooser.app/
/test/cube.app/
/test/cursor.app/
/test/curve.app/
/test/demo.app/
/test/device.app/
/test/doublebuffer.app/
/test/editor.app/
/test/fast_slow.app/
/test/file_chooser.app/
/test/fltk-versions.app/
/test/fonts.app/
/test/forms.app/
/test/fractals.app/
/test/fullscreen.app/
/test/gl_overlay.app/
/test/glpuzzle.app/
/test/hello.app/
/test/help.app/
/test/icon.app/
/test/iconize.app/
/test/image.app/
/test/inactive.app/
/test/input.app/
/test/input_choice.app/
/test/keyboard.app/
/test/label.app/
/test/line_style.app/
/test/list_visuals.app/
/test/mandelbrot.app/
/test/menubar.app/
/test/message.app/
/test/minimum.app/
/test/native-filechooser.app/
/test/navigation.app/
/test/offscreen.app/
/test/output.app/
/test/overlay.app/
/test/pack.app/
/test/pixmap.app/
/test/pixmap_browser.app/
/test/preferences.app/
/test/radio.app/
/test/resize.app/
/test/resizebox.app/
/test/rotated_text.app/
/test/scroll.app/
/test/shape.app/
/test/subwindow.app/
/test/symbols.app/
/test/table.app/
/test/tabs.app/
/test/threads.app/
/test/tile.app/
/test/tiled_image.app/
/test/tree.app/
/test/twowin.app/
/test/unittests.app/
/test/utf8.app/
/test/valuators.app/
/test/windowfocus.app/

**/.DS_Store
