#
# Git attributes for special files
#
# files not mentioned here are either text files
# or their types are "guessed" properly by Git
#
# todo (migration from svn to git):
#
# - do we need to define Git attributes for source and text files?
# - if yes, how to migrate "svn:eol-style native" to Git?
# - which attributes do we need for fluid (.fl) files?
#

# files that will not be exported in source tarballs
# (note: .git is not exported anyway)

makesrcdist     export-ignore   eol=lf
.gitattributes  export-ignore
.github         export-ignore
.gitignore      export-ignore
.gitlab-ci.yml  export-ignore

# fluid files (eol=lf or text?)

*.fl            eol=lf

# shell scripts etc. with Unix line endings (lf)

*.ac            eol=lf
*.in            eol=lf
*.desktop       eol=lf
*.sh            eol=lf

fltk-config.in  eol=lf

documentation/make_pdf          eol=lf
misc/update_config_scripts      eol=lf

# files with Windows line endings (crlf)

*.rc            eol=crlf
*.bat           eol=crlf

# binary files

*.ico           binary
*.icns          binary
*.jar           binary
*.png           binary
*.jpg           binary
*.ttf           binary
*.xcf           binary
*.xcf_gz        binary

# image files that consist of ASCII text

# *.xbm         text
# *.xpm         text
