#
# Files to be ignored by Git (do not commit)
#

*.o
*.exe

# CMake
bin/
**/cmake_install.cmake
**/CMakeCache.txt
**/CMakeFiles/
etc/UseFLTK.cmake
cmake_uninstall.cmake
UseFLTK.cmake
FLTK.sln
FLTK-Targets.cmake
FLTKConfig.cmake
etc/FLTKConfig.cmake

# MSVC
*.tlog
.vs/

# VS Code (Visual Studio Code) Editor
.vscode/

# /
/autom4te*.cache
/build
/clang
/config.cache
/config.h
/config.log
/config.status
/configure
/fltk-config
/fltk.list
/fltk.spec
/makeinclude
/*.bck
/TAGS

# /FL
/FL/fl_config.h
/FL/Makefile
/FL/*.bck

# /cairo/
/cairo/*.so*
/cairo/*.dll

# /documentation/
# see documentation/.gitignore

# /examples/
# see examples/.gitignore

# /fluid/
/fluid/fluid
/fluid/fluid-shared
/fluid/*.bck
/fluid/*.exe
/fluid/TAGS
/fluid/fluid.app
/fluid/pixmaps/*.bck
/fluid/documentation/html/

# /lib/
/lib/lib*
/lib/*.lib
/lib/*.a

# /misc/
/misc/doxystar

# /src/
/src/*.so*
/src/*.sl*
/src/*.a
/src/*.bck
/src/*.dll
/src/*.sav
/src/*.dylib

# /test/
# see test/.gitignore

**/.DS_Store
