<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>fltk-options</string>
	<key>CFBundleIdentifier</key>
	<string>org.fltk.fltk-options</string>
	<key>CFBundleVersion</key>
	<string>1.4.1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2023-2024 by Bill Spitzak and others</string>
	<key>CFAppleHelpAnchor</key>
	<string>help</string>
	<key>CFBundleName</key>
	<string>fltk-options</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>FLOP</string>
	<key>CFBundleIconFile</key>
	<string>fltk-options.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.1</string>
	<key>CFBundleGetInfoString</key>
	<string>1.4.1, Copyright 2023-2024 by Bill Spitzak and others</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
