[Desktop Entry]
Name=FLUID
Comment=FLTK GUI Designer
TryExec=fluid
Exec=cd %D && fluid %F
Icon=fluid
Terminal=false
Type=Application
MimeType=application/x-fluid
Categories=Development;GUIDesigner;
