[Desktop Entry]
Name=FLUID
Comment=FLTK GUI Designer
TryExec=fluid
Exec=fluid %F
Icon=fluid
Terminal=false
Type=Application
MimeType=application/x-fluid
Encoding=UTF-8
Categories=Development
