[Desktop Entry]
Name=Checkers
Comment=Checkers Game
TryExec=checkers
Exec=checkers
Icon=checkers
Terminal=false
Type=Application
Categories=Game;BoardGame;
