[Desktop Entry]
Name=Block Attack!
Comment=Block Attack! Game
TryExec=blocks
Exec=blocks
Icon=blocks
Terminal=false
Type=Application
Categories=Game;BlocksGame;
