#
# Files to be ignored by Git (do not commit)
#
# Note: *.exe will be ignored by means of ../.gitignore
#
browser-simple
clipboard
draggable-group
fltk-versions
howto-add_fd-and-popen
howto-browser-with-icons
howto-drag-and-drop
howto-draw-an-x
howto-menu-with-images
howto-parse-args
howto-remap-numpad-keyboard-keys
howto-simple-svg
howto-text-over-image-button
menubar-add
nativefilechooser-simple
nativefilechooser-simple-app
OpenGL3-glut-test
OpenGL3test
progress-simple
shapedwindow
simple-terminal
SVG_File_Surface
table-as-container
table-simple
table-sort
table-spreadsheet
table-spreadsheet-with-keyboard-nav
table-with-keynav
table-with-right-column-stretch-fit
tabs-simple
textdisplay-with-colors
texteditor-simple
texteditor-with-dynamic-colors
tree-as-container
tree-custom-draw-items
tree-custom-sort
tree-of-tables
tree-simple
wizard-simple
