#
# Files to be ignored by Git (do not commit)
#

# /documentation/
.xvpics
blocks.0
blocks.6
blocks.z
checkers.0
checkers.6
checkers.z
copyright.dox
Doxybook
Doxyfile
fltk.0
fltk.3
fltk-config.0
fltk-config.1
fltk-config.z
fltk.d
fltk.pdf
fltk.z
fluid.0
fluid.1
fluid.z
generated.dox
html
latex
sudoku.0
sudoku.6
sudoku.z
*.bck
*.bak
*.log

# /documentation/src/
src/*.0
src/*.1
src/*.3
src/*.6
src/*.z
src/fltk-book.tex
src/fltk-book.tex.in
src/fltk-title.tex
